.conteiner {
    width: 1000px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

body {
    background-color: rgb(135 98 80);
}

li {
    list-style: none;
}

.header {
    background-color: rgb(194 152 140);
    padding-top: 30px;
    padding-bottom: 25px;
}

.header-list {
    display: flex;
    gap: 30px;
}

section {
    position: relative;
}

p {
    color: #d5cec8;
}

.header-item {
    color: #d5cec8; 
}