.conteiner {
    width: 1000px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

body {
    background-color: rgb(135 98 80);
}

li {
    list-style: none;
}

.header {
    background-color: rgb(194 152 140);
    padding-top: 30px;
    padding-bottom: 25px;
}

.header-list {
    display: flex;
    gap: 30px;
}

section {
    position: relative;
    /* padding-top: 20px;
    padding-bottom: 20px; */
}

p {
    color: #d5cec8;
    width: 600px;
}

.header-item {
    color: #d5cec8; 
}

.box {
    display: flex;
  height: 200px;
  /* background-color: gray; */

  overflow: auto;
}

img{
    position: sticky;
    top: 50%;
    width: 50px;
    object-fit: contain;
    object-position: top;
    padding-top: 20px;
    margin-right: 20px;
    }

.logo {
    text-transform: uppercase;
    color: rgb(209 181 177); 
}

.box::-webkit-scrollbar{
    width: 100px;
    background-color: rgba(255, 255, 255, 0.178);
  }
  